body {
    background-color: black;  
}

@font-face {
    font-family: "FX_LED";
    src: url("fonts/FX-LED-Bold.TTF");
}

@font-face {
    font-family: "Hack";
    src: url("fonts/Hack-Bold.ttf");
}


.digital-clock{
    color: #fff;
    display: flex;
    border-radius: 2rem;
    user-select: none;
    padding:  0 0rem;
    border: .05rem solid #2d2d2d;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.week{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    width: 3rem;
    color:  #2d2d2d;
    font-weight: bold;
    font-family: "Hack";
    font-size: large;
}

.week .active {
    color: white;
}

.time{
    font-family: "FX_LED";
}

.hour,
.min,
.dot,
.dot2,
.second{
    display: inline-block;
    font-size: 13rem;
}

.min{
    display: math;
}

.invsible{
    visibility: hidden;
}